body {
    background-color: lightblue;
}

h1 {
    color: lightblue;
    margin-left: 20px;
}

form {width: 95%;
      margin-right:0%;
      margin-left: 0%;
}
div.mainform {width:100%;
              border:1px solid #000}
